mixin banner(i,t,b, bm)
	+b.banner-block(href="#")&attributes(attributes)
		picture 
			// чтоб не плодить млн файлов картинок, добавь source по примеру карточки товара, только кроп как тут ниже расписал
			// source(srcset=`img/banner-${x}.webp` media="(min-width: 1600px)" type="image/webp" )
			// source(srcset=`img/banner-${x}.jpg` media="(min-width: 1600px)" type="image/jpg" )
			
			// тут сделай кроп шириной   700px(в 2 раза меньше от первоначального) или чуть больше, какой там стандартный
			// source(srcset=`img/banner-${x}-md.webp` media="(min-width: 576px)" type="image/webp" )
			// source(srcset=`img/banner-${x}-md.jpg` media="(min-width: 576px)" type="image/jpg" )
			 
			// тут сделай кроп шириной   576px или чуть больше, какой там стандартный 
			// source(srcset=`img/banner-${x}-sm.webp` type="image/webp" ) 
			img.object-fit-js.lazy( src="#"  data-src=`img/banner-${i}.jpg`, alt="") 
		+e.title= t
		if b
			+e.btn-wrap
				+e.btn()
					span.d-none.d-sm-block= b
					span.d-sm-none= bm
mixin s-banner()
	// start s-banner
	+b.s-banner.section.block-with-lazy&attributes(attributes)
		.container 
			.row
				+e.col.col-lg-6
					+banner("1",'Fäkalienhebeanlagen für  Ihr Einfamilienhaus','hier finden Sie die passenden Abwasserhebeanlagen','JETZT MEHR LESEN')
				+e.col.col-lg-6
					+banner("2",'Sie haben ein  Mehrfamilienhaus?','hier finden Sie die passenden Abwasserhebeanlagen','JETZT MEHR LESEN')
	// end s-banner

mixin s-banner2()
	// start s-banner
	+b.s-banner.section.block-with-lazy&attributes(attributes)
		.container 
			.row
				+e.col--category.col-lg-3
					+banner("3",'KSB Hebeanlage' )(class="banner-block--category" style="background-color:#a1c2da;")
				
				+e.col--category.col-lg-6
					+banner("4",'Grundfos Hebeanlagen','INFORMATIONSMATERIAL ANFORDERN')(class="banner-block--category" style="background-color: #98c564;")
				
				+e.col--category.col-lg-3
					+banner("5",'Kessel  Hebeanlage')(class="banner-block--category" style="background-color: #4d86bd;")
				
				+e.col--category.col-lg-6
					+banner("6",'Jung Pumpen Hebeanlagen','INFORMATIONSMATERIAL ANFORDERN')(class="banner-block--category" style="background-color: #f3ba0f;")
				
				+e.col--category.col-lg-6
					+banner("7",'HOMA Hebeanlage')(class="banner-block--category" style="background-color: #797979;")
	// end s-banner

mixin s-banner3()
	// start s-banner
	+b.s-banner.section.block-with-lazy&attributes(attributes)
		.container 
			.row
				+e.col.col-lg-6
					+banner("8",'Rückstauschutz' )
				+e.col.col-lg-6
					+banner("9",' Hebeanlagen für fäkalienhaltiges  Abwasser innerhalb von Gebäuden','JETZT MEHR LESEN','JETZT MEHR LESEN' )
				+e.col.col-lg-6
					+banner("10",'Schneidwerk Abwasserpumpen','JETZT MEHR LESEN','JETZT MEHR LESEN' )
				+e.col.col-lg-6
					+banner("11",'Anschlussfertige  Kunststoff-Abwasserschächte  für Tauchpumpen','JETZT MEHR LESEN','JETZT MEHR LESEN' )
	// end s-banner
